#nav-mobile {
  bottom: 0;
  height: 45px;
}
#search-desktop,
#search-mobile {
  box-sizing: border-box;
  border: 0;
  border-radius: 15px;
  padding-left: 15px;
  height: 40px;
}

#search-desktop::placeholder {
  color: rgb(153, 153, 153);
}

.no-shadow {
  box-shadow: none;
}

li img {
  box-sizing: border-box;
  margin-top: 15px;
}

.jumbotron {
  height: 300px;
  margin-top: -70px;
  padding-top: 40px;
}

.jumbotron h1 {
  font-size: 7em;
  margin-bottom: -20px;
}

.card-title {
  font-size: 1.2em !important;
  line-height: 1.2em !important;
  height: 2.7rem;
  overflow: hidden;
}

.price {
  margin-top: -3px;
}

.card-content {
  padding: 5% !important;
}

.top-bar-subpage {
  margin-top: -50px;
}

.catalog-product {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 5em;
    margin-top: 70px;
  }
  .jumbotron h4 {
    font-size: 2em;
  }

  .catalog-product .col {
    padding-left: 0.3rem !important;
    padding-right: 0.3rem !important;
  }
}
@media screen and (max-width: 600px) {
  .jumbotron {
    height: 200px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .jumbotron h1 {
    font-size: 3em;
    margin-top: 50px;
  }

  .jumbotron h4 {
    font-size: 1.2em;
  }

  #top-nav-mobile {
    margin-top: -50px;
  }

  .top-bar-subpage {
    margin-top: -60px;
  }

  #top-nav-mobile .brand-logo {
    display: none;
  }
}

@media only screen and (min-width: 601px) {
  #top-nav-mobile,
  .top-bar-subpage {
    margin-top: -65px;
  }

  #top-nav-mobile .brand-logo {
    left: 7.5%;
    transform: translateX(0);
  }
  #top-nav-mobile #search-mobile {
    margin-top: 10px;
    width: 350px;
  }
}
