#nav-mobile {
  bottom: 0;
  height: 45px;
}
#search-desktop {
  box-sizing: border-box;
  border: 0;
  border-radius: 15px;
  padding-left: 15px;
  height: 40px;
}
#search-desktop::placeholder {
  color: rgb(153, 153, 153);
}

.no-shadow {
  box-shadow: none;
}
